.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.758789;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.970215;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.754395;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.935059;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.935059;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:0.000000px;}
.ls2{letter-spacing:4.000000px;}
.ls0{letter-spacing:8.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1e{margin-left:-8.059927px;}
._20{margin-left:-5.483350px;}
._1c{margin-left:-4.186608px;}
._6{margin-left:-2.101699px;}
._7{margin-left:-1.019207px;}
._c{width:1.470686px;}
._b{width:3.333059px;}
._a{width:5.677218px;}
._9{width:6.877340px;}
._d{width:8.157352px;}
._1{width:14.000000px;}
._4{width:15.377793px;}
._3{width:16.417762px;}
._5{width:17.577732px;}
._19{width:18.673720px;}
._10{width:21.915597px;}
._11{width:22.919536px;}
._f{width:25.112767px;}
._13{width:33.047898px;}
._0{width:34.938000px;}
._8{width:40.284000px;}
._e{width:41.402638px;}
._1a{width:43.300000px;}
._14{width:46.933976px;}
._2{width:49.194000px;}
._15{width:58.528618px;}
._21{width:60.278075px;}
._1f{width:75.320073px;}
._17{width:78.072696px;}
._1b{width:104.020043px;}
._12{width:118.533930px;}
._1d{width:120.760049px;}
._16{width:123.240298px;}
._25{width:178.487191px;}
._26{width:234.303191px;}
._24{width:256.583191px;}
._18{width:335.829847px;}
._2d{width:343.547191px;}
._27{width:381.107191px;}
._29{width:410.863191px;}
._2e{width:415.561237px;}
._2c{width:420.469191px;}
._2a{width:425.291191px;}
._28{width:444.631237px;}
._23{width:465.135237px;}
._2b{width:477.291237px;}
._22{width:518.465221px;}
.fc3{color:rgb(255,255,255);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(28,173,228);}
.fc0{color:rgb(13,13,13);}
.fs5{font-size:64.000000px;}
.fs6{font-size:66.000000px;}
.fs10{font-size:72.000000px;}
.fsa{font-size:74.000000px;}
.fs9{font-size:76.000000px;}
.fs4{font-size:80.000000px;}
.fs3{font-size:82.000000px;}
.fse{font-size:83.599998px;}
.fs11{font-size:96.000000px;}
.fs7{font-size:112.000000px;}
.fs1{font-size:128.000000px;}
.fsb{font-size:176.000000px;}
.fs2{font-size:192.000000px;}
.fs0{font-size:200.000000px;}
.fsc{font-size:216.000000px;}
.fs8{font-size:240.000000px;}
.fsf{font-size:260.000000px;}
.fsd{font-size:264.000000px;}
.y0{bottom:0.000000px;}
.y6e{bottom:41.092077px;}
.y4{bottom:42.451813px;}
.y2c{bottom:52.897354px;}
.y34{bottom:54.395462px;}
.y60{bottom:65.305771px;}
.y6d{bottom:70.292059px;}
.y48{bottom:70.689377px;}
.y33{bottom:76.967468px;}
.y1{bottom:78.675308px;}
.y3{bottom:80.851822px;}
.y2b{bottom:88.897354px;}
.y5f{bottom:91.225773px;}
.y3c{bottom:94.523483px;}
.y47{bottom:95.889389px;}
.y6c{bottom:99.492071px;}
.y32{bottom:99.539474px;}
.y1c{bottom:99.781952px;}
.yc{bottom:104.284592px;}
.y39{bottom:115.569412px;}
.y3b{bottom:117.095474px;}
.y2{bottom:119.251831px;}
.y46{bottom:121.089401px;}
.y1b{bottom:121.981934px;}
.y2a{bottom:124.897354px;}
.y6b{bottom:128.692053px;}
.yb{bottom:137.884567px;}
.y38{bottom:138.141411px;}
.y3a{bottom:139.667473px;}
.y45{bottom:142.689407px;}
.y6a{bottom:157.892065px;}
.y37{bottom:160.713409px;}
.y29{bottom:160.897354px;}
.y31{bottom:162.239471px;}
.y44{bottom:164.289406px;}
.y1a{bottom:166.381897px;}
.y40{bottom:168.175026px;}
.ya{bottom:169.431107px;}
.y4f{bottom:173.918243px;}
.y36{bottom:183.285408px;}
.y30{bottom:184.811470px;}
.y43{bottom:185.889404px;}
.y5b{bottom:186.016632px;}
.y69{bottom:187.092047px;}
.y19{bottom:188.581879px;}
.y3f{bottom:189.775024px;}
.y5e{bottom:196.816635px;}
.y28{bottom:196.897354px;}
.y35{bottom:205.857409px;}
.y4e{bottom:207.358246px;}
.y2f{bottom:207.383471px;}
.y42{bottom:207.489403px;}
.y5a{bottom:207.616638px;}
.y18{bottom:210.781860px;}
.y3e{bottom:211.375023px;}
.y68{bottom:215.892071px;}
.y1f{bottom:217.311401px;}
.y9{bottom:217.431107px;}
.y5d{bottom:218.416634px;}
.ye{bottom:231.800888px;}
.y27{bottom:232.897354px;}
.y67{bottom:237.492071px;}
.y59{bottom:237.616634px;}
.y4d{bottom:240.798248px;}
.y5c{bottom:248.416634px;}
.y17{bottom:255.181824px;}
.y58{bottom:259.216631px;}
.y8{bottom:265.431107px;}
.y66{bottom:266.292065px;}
.y26{bottom:268.897369px;}
.y1e{bottom:270.111389px;}
.y2e{bottom:271.427895px;}
.y4c{bottom:274.238251px;}
.y16{bottom:277.381836px;}
.y65{bottom:287.892065px;}
.y41{bottom:292.525013px;}
.y3d{bottom:295.130054px;}
.y15{bottom:299.581833px;}
.yd{bottom:303.800892px;}
.y25{bottom:304.897369px;}
.y4b{bottom:307.678253px;}
.y7{bottom:313.431107px;}
.y64{bottom:316.692074px;}
.y14{bottom:321.781830px;}
.y1d{bottom:322.911385px;}
.y57{bottom:329.131416px;}
.y53{bottom:337.424095px;}
.y63{bottom:338.292074px;}
.y24{bottom:340.897369px;}
.y56{bottom:350.731422px;}
.y52{bottom:359.024094px;}
.y6{bottom:361.431103px;}
.y62{bottom:367.492071px;}
.y23{bottom:376.897369px;}
.y55{bottom:380.731419px;}
.y13{bottom:388.381821px;}
.y51{bottom:389.024094px;}
.y54{bottom:402.331415px;}
.y12{bottom:410.581818px;}
.y22{bottom:412.897362px;}
.y4a{bottom:421.717293px;}
.y2d{bottom:424.469624px;}
.y49{bottom:426.684986px;}
.y61{bottom:431.052689px;}
.y5{bottom:436.694252px;}
.y21{bottom:448.897362px;}
.y11{bottom:454.981827px;}
.y50{bottom:467.201712px;}
.y10{bottom:477.181831px;}
.y20{bottom:484.897364px;}
.yf{bottom:499.381830px;}
.h12{height:54.000000px;}
.h9{height:55.500000px;}
.h8{height:59.523438px;}
.h5{height:60.000000px;}
.hf{height:61.500000px;}
.hd{height:62.699999px;}
.h4{height:64.222656px;}
.h10{height:72.000000px;}
.h6{height:84.000000px;}
.h2{height:96.000000px;}
.h11{height:129.593750px;}
.ha{height:132.000000px;}
.h3{height:141.375000px;}
.h1{height:150.000000px;}
.hb{height:162.000000px;}
.h7{height:180.000000px;}
.he{height:195.000000px;}
.hc{height:198.000000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1d{left:36.684029px;}
.xc{left:45.249924px;}
.x24{left:48.654381px;}
.x11{left:49.955658px;}
.x25{left:52.466881px;}
.x8{left:56.458298px;}
.x23{left:58.029388px;}
.x6{left:63.199921px;}
.x1e{left:64.621521px;}
.x9{left:73.645782px;}
.x1a{left:76.786377px;}
.x10{left:81.217194px;}
.x1c{left:84.240097px;}
.x26{left:86.029381px;}
.x1b{left:87.840073px;}
.x7{left:90.199921px;}
.xe{left:100.062416px;}
.xd{left:114.812408px;}
.x5{left:117.895721px;}
.x30{left:163.811890px;}
.x34{left:172.811890px;}
.x33{left:174.874390px;}
.x29{left:176.039276px;}
.x31{left:177.811890px;}
.x32{left:179.811890px;}
.x2d{left:183.311890px;}
.x2a{left:191.226780px;}
.x2b{left:209.574051px;}
.x2c{left:213.561882px;}
.x27{left:261.361710px;}
.x1{left:262.925018px;}
.x1f{left:265.611710px;}
.x21{left:274.549202px;}
.x28{left:301.611702px;}
.x22{left:310.924202px;}
.x20{left:340.674194px;}
.x12{left:356.944733px;}
.x16{left:374.111481px;}
.x15{left:384.111481px;}
.xf{left:407.343628px;}
.x2e{left:428.770180px;}
.xa{left:499.200012px;}
.xb{left:526.200012px;}
.x2f{left:619.603497px;}
.x14{left:661.716614px;}
.x13{left:663.933777px;}
.x18{left:666.989502px;}
.x19{left:684.989502px;}
.x17{left:694.989502px;}
.x2{left:724.562515px;}
.x3{left:733.375015px;}
.x4{left:749.312515px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:0.000000pt;}
.ls2{letter-spacing:5.333333pt;}
.ls0{letter-spacing:10.666667pt;}
.ws0{word-spacing:0.000000pt;}
._1e{margin-left:-10.746569pt;}
._20{margin-left:-7.311133pt;}
._1c{margin-left:-5.582144pt;}
._6{margin-left:-2.802266pt;}
._7{margin-left:-1.358943pt;}
._c{width:1.960914pt;}
._b{width:4.444079pt;}
._a{width:7.569624pt;}
._9{width:9.169786pt;}
._d{width:10.876469pt;}
._1{width:18.666667pt;}
._4{width:20.503724pt;}
._3{width:21.890350pt;}
._5{width:23.436976pt;}
._19{width:24.898293pt;}
._10{width:29.220796pt;}
._11{width:30.559381pt;}
._f{width:33.483689pt;}
._13{width:44.063864pt;}
._0{width:46.584000pt;}
._8{width:53.712000pt;}
._e{width:55.203518pt;}
._1a{width:57.733333pt;}
._14{width:62.578635pt;}
._2{width:65.592000pt;}
._15{width:78.038158pt;}
._21{width:80.370766pt;}
._1f{width:100.426764pt;}
._17{width:104.096928pt;}
._1b{width:138.693390pt;}
._12{width:158.045239pt;}
._1d{width:161.013398pt;}
._16{width:164.320397pt;}
._25{width:237.982921pt;}
._26{width:312.404255pt;}
._24{width:342.110921pt;}
._18{width:447.773130pt;}
._2d{width:458.062921pt;}
._27{width:508.142921pt;}
._29{width:547.817588pt;}
._2e{width:554.081649pt;}
._2c{width:560.625588pt;}
._2a{width:567.054921pt;}
._28{width:592.841649pt;}
._23{width:620.180316pt;}
._2b{width:636.388316pt;}
._22{width:691.286962pt;}
.fs5{font-size:85.333333pt;}
.fs6{font-size:88.000000pt;}
.fs10{font-size:96.000000pt;}
.fsa{font-size:98.666667pt;}
.fs9{font-size:101.333333pt;}
.fs4{font-size:106.666667pt;}
.fs3{font-size:109.333333pt;}
.fse{font-size:111.466665pt;}
.fs11{font-size:128.000000pt;}
.fs7{font-size:149.333333pt;}
.fs1{font-size:170.666667pt;}
.fsb{font-size:234.666667pt;}
.fs2{font-size:256.000000pt;}
.fs0{font-size:266.666667pt;}
.fsc{font-size:288.000000pt;}
.fs8{font-size:320.000000pt;}
.fsf{font-size:346.666667pt;}
.fsd{font-size:352.000000pt;}
.y0{bottom:0.000000pt;}
.y6e{bottom:54.789436pt;}
.y4{bottom:56.602417pt;}
.y2c{bottom:70.529806pt;}
.y34{bottom:72.527283pt;}
.y60{bottom:87.074361pt;}
.y6d{bottom:93.722745pt;}
.y48{bottom:94.252502pt;}
.y33{bottom:102.623291pt;}
.y1{bottom:104.900411pt;}
.y3{bottom:107.802429pt;}
.y2b{bottom:118.529806pt;}
.y5f{bottom:121.634364pt;}
.y3c{bottom:126.031311pt;}
.y47{bottom:127.852519pt;}
.y6c{bottom:132.656095pt;}
.y32{bottom:132.719299pt;}
.y1c{bottom:133.042603pt;}
.yc{bottom:139.046122pt;}
.y39{bottom:154.092550pt;}
.y3b{bottom:156.127299pt;}
.y2{bottom:159.002441pt;}
.y46{bottom:161.452535pt;}
.y1b{bottom:162.642578pt;}
.y2a{bottom:166.529806pt;}
.y6b{bottom:171.589404pt;}
.yb{bottom:183.846090pt;}
.y38{bottom:184.188548pt;}
.y3a{bottom:186.223297pt;}
.y45{bottom:190.252543pt;}
.y6a{bottom:210.522753pt;}
.y37{bottom:214.284546pt;}
.y29{bottom:214.529806pt;}
.y31{bottom:216.319295pt;}
.y44{bottom:219.052541pt;}
.y1a{bottom:221.842529pt;}
.y40{bottom:224.233368pt;}
.ya{bottom:225.908142pt;}
.y4f{bottom:231.890991pt;}
.y36{bottom:244.380544pt;}
.y30{bottom:246.415293pt;}
.y43{bottom:247.852539pt;}
.y5b{bottom:248.022176pt;}
.y69{bottom:249.456062pt;}
.y19{bottom:251.442505pt;}
.y3f{bottom:253.033366pt;}
.y5e{bottom:262.422180pt;}
.y28{bottom:262.529806pt;}
.y35{bottom:274.476545pt;}
.y4e{bottom:276.477661pt;}
.y2f{bottom:276.511294pt;}
.y42{bottom:276.652537pt;}
.y5a{bottom:276.822184pt;}
.y18{bottom:281.042480pt;}
.y3e{bottom:281.833364pt;}
.y68{bottom:287.856094pt;}
.y1f{bottom:289.748535pt;}
.y9{bottom:289.908142pt;}
.y5d{bottom:291.222178pt;}
.ye{bottom:309.067851pt;}
.y27{bottom:310.529806pt;}
.y67{bottom:316.656095pt;}
.y59{bottom:316.822179pt;}
.y4d{bottom:321.064331pt;}
.y5c{bottom:331.222178pt;}
.y17{bottom:340.242432pt;}
.y58{bottom:345.622175pt;}
.y8{bottom:353.908142pt;}
.y66{bottom:355.056086pt;}
.y26{bottom:358.529826pt;}
.y1e{bottom:360.148519pt;}
.y2e{bottom:361.903859pt;}
.y4c{bottom:365.651001pt;}
.y16{bottom:369.842448pt;}
.y65{bottom:383.856087pt;}
.y41{bottom:390.033351pt;}
.y3d{bottom:393.506739pt;}
.y15{bottom:399.442444pt;}
.yd{bottom:405.067856pt;}
.y25{bottom:406.529826pt;}
.y4b{bottom:410.237671pt;}
.y7{bottom:417.908142pt;}
.y64{bottom:422.256098pt;}
.y14{bottom:429.042440pt;}
.y1d{bottom:430.548513pt;}
.y57{bottom:438.841888pt;}
.y53{bottom:449.898794pt;}
.y63{bottom:451.056099pt;}
.y24{bottom:454.529826pt;}
.y56{bottom:467.641897pt;}
.y52{bottom:478.698792pt;}
.y6{bottom:481.908137pt;}
.y62{bottom:489.989428pt;}
.y23{bottom:502.529826pt;}
.y55{bottom:507.641891pt;}
.y13{bottom:517.842428pt;}
.y51{bottom:518.698792pt;}
.y54{bottom:536.441887pt;}
.y12{bottom:547.442424pt;}
.y22{bottom:550.529816pt;}
.y4a{bottom:562.289724pt;}
.y2d{bottom:565.959498pt;}
.y49{bottom:568.913315pt;}
.y61{bottom:574.736918pt;}
.y5{bottom:582.259003pt;}
.y21{bottom:598.529816pt;}
.y11{bottom:606.642436pt;}
.y50{bottom:622.935616pt;}
.y10{bottom:636.242442pt;}
.y20{bottom:646.529818pt;}
.yf{bottom:665.842440pt;}
.h12{height:72.000000pt;}
.h9{height:74.000000pt;}
.h8{height:79.364583pt;}
.h5{height:80.000000pt;}
.hf{height:82.000000pt;}
.hd{height:83.599998pt;}
.h4{height:85.630208pt;}
.h10{height:96.000000pt;}
.h6{height:112.000000pt;}
.h2{height:128.000000pt;}
.h11{height:172.791667pt;}
.ha{height:176.000000pt;}
.h3{height:188.500000pt;}
.h1{height:200.000000pt;}
.hb{height:216.000000pt;}
.h7{height:240.000000pt;}
.he{height:260.000000pt;}
.hc{height:264.000000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x1d{left:48.912038pt;}
.xc{left:60.333232pt;}
.x24{left:64.872508pt;}
.x11{left:66.607544pt;}
.x25{left:69.955841pt;}
.x8{left:75.277730pt;}
.x23{left:77.372518pt;}
.x6{left:84.266561pt;}
.x1e{left:86.162028pt;}
.x9{left:98.194377pt;}
.x1a{left:102.381836pt;}
.x10{left:108.289591pt;}
.x1c{left:112.320129pt;}
.x26{left:114.705841pt;}
.x1b{left:117.120097pt;}
.x7{left:120.266561pt;}
.xe{left:133.416555pt;}
.xd{left:153.083211pt;}
.x5{left:157.194295pt;}
.x30{left:218.415853pt;}
.x34{left:230.415853pt;}
.x33{left:233.165853pt;}
.x29{left:234.719035pt;}
.x31{left:237.082520pt;}
.x32{left:239.749186pt;}
.x2d{left:244.415853pt;}
.x2a{left:254.969040pt;}
.x2b{left:279.432068pt;}
.x2c{left:284.749176pt;}
.x27{left:348.482279pt;}
.x1{left:350.566691pt;}
.x1f{left:354.148946pt;}
.x21{left:366.065603pt;}
.x28{left:402.148936pt;}
.x22{left:414.565603pt;}
.x20{left:454.232259pt;}
.x12{left:475.926310pt;}
.x16{left:498.815308pt;}
.x15{left:512.148641pt;}
.xf{left:543.124837pt;}
.x2e{left:571.693573pt;}
.xa{left:665.600016pt;}
.xb{left:701.600016pt;}
.x2f{left:826.137995pt;}
.x14{left:882.288818pt;}
.x13{left:885.245036pt;}
.x18{left:889.319336pt;}
.x19{left:913.319336pt;}
.x17{left:926.652669pt;}
.x2{left:966.083354pt;}
.x3{left:977.833354pt;}
.x4{left:999.083354pt;}
}
